<div class="jumbotron">
  <h2>Welcome home, <%= current_user.username %>!</h2>

  <div class="row">
    <div class="col-md-9 main">
      <h3>Your albums</h3>
      <div class="row">
        <% @trips.each do |trip| %>
            <div class="album-preview col-md-4">
              <h4><%= link_to trip.title, trip_path(current_user, trip) %></h4>
              <% trip.photos.take(3).each do |photo| %>
                  <div class="crop"><%= image_tag photo.image, class: "previewImageSmall" if photo.image? %></div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 side">
      <%= link_to 'New trip', trip_new_path(current_user), class: 'btn btn-primary btn-lg btn-block' %>
      <h4>Explore albums</h4>
    </div>
  </div>
</div>
