<h1><%= @trip.title %></h1>

<div id="photos"></div>



<%= form_for Photo.new, :url => trip_upload_photos_path(@trip), :html => {:multipart => true}, id: 'new_photo' do |f| %>
    <%= f.file_field :image, multiple: true, name: 'photo[image]' %>
<% end %>


<%= link_to 'Done', dashboard_path %>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>