<div class="row">

  <div class="col-sm-5"><!-- main col left -->

    <% if !user_signed_in?%>
          <%= render partial: "devise/registrations/create" %>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-thumbnail"><img src="http://as1.wdpromedia.com/media/abd/north-america/alaska-vacations/denali-national-park.jpg" class="img-responsive"></div>
      <div class="panel-body">
        <p class="lead">Alaska</p>
        <p>45 Followers, 13 Posts</p>
        <p>
          <img src="http://as1.wdpromedia.com/media/abd/north-america/alaska-vacations/denali-national-park.jpg" width="28px" height="28px">
        </p>
      </div>
    </div>

    <div class="well">
      <form class="form-horizontal" role="form">
        <h4>What's New</h4>
        <div class="form-group" style="padding:14px;">
          <textarea class="form-control" placeholder="Update your travelog"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
      </form>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Search by category</h4></div>
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">Country</a>
          <a href="#" class="list-group-item">Continent</a>
          <a href="#" class="list-group-item">Season</a>
        </div>
      </div>
    </div>

  </div><!-- /main col left -->

  <div class="col-sm-7"><!-- main col right -->

    <div class="panel panel-default">
      <div class="panel-heading"><a href="#" class="pull-right">Learn more</a> <h4>What's it all about?</h4></div>
      <div class="panel-body">
        <p><img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">The goal</a></p>
        <div class="clearfix"></div>
        <hr>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum odio odio, ut convallis tellus aliquam quis. Quisque tempus, ex ac tristique interdum, leo metus egestas sem, ut varius nisi dui iaculis tortor. Sed erat arcu, pretium at dignissim quis, aliquet a dui. Nulla et elit fermentum, pellentesque massa ut, ultrices lacus. Nullam maximus lorem sit amet lectus sollicitudin, eget tincidunt dolor rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ac placerat quam, quis sagittis diam. Aenean facilisis rutrum ex, ac scelerisque leo elementum sed. Sed blandit id diam at efficitur.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-thumbnail"><img src="http://as1.wdpromedia.com/media/abd/north-america/alaska-vacations/denali-national-park.jpg" class="img-responsive"></div>
      <div class="panel-body">
        <p class="lead">Social</p>
        <p>1,200 Followers, 83 Posts</p>
        <p>
          <img src="http://as1.wdpromedia.com/media/abd/north-america/alaska-vacations/denali-national-park.jpg" width="28px" height="28px">
          <img src="http://as1.wdpromedia.com/media/abd/north-america/alaska-vacations/denali-national-park.jpg" width="28px" height="28px">
          <img src="http://as1.wdpromedia.com/media/abd/north-america/alaska-vacations/denali-national-park.jpg" width="28px" height="28px">
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4>How to get involved?</h4></div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum odio odio, ut convallis tellus aliquam quis. Quisque tempus, ex ac tristique interdum, leo metus egestas sem, ut varius nisi dui iaculis tortor. Sed erat arcu, pretium at dignissim quis, aliquet a dui. Nulla et elit fermentum, pellentesque massa ut, ultrices lacus. Nullam maximus lorem sit amet lectus sollicitudin, eget tincidunt dolor rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ac placerat quam, quis sagittis diam. Aenean facilisis rutrum ex, ac scelerisque leo elementum sed. Sed blandit id diam at efficitur.
      </div>
    </div>

  </div><!-- /main col right -->

</div><!--/row-->