/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

.jumbotron {
	width: 90%;
}


.navbar {
	min-height: 50px;
	text-align: right;

	.navbar-brand {
		font-size: 40px;
	}

	span, a:not(.navbar-brand) {
		margin-top: 11px;
		display: inline-block;
	}
}

.main {
	.album-preview {
		margin-bottom: 10px;
		box-sizing: border-box;

		&:hover {
			//border-radius: 0px;
			background-color: rgba(0, 0, 0, 0.17);

			.share {
				opacity: 1; 
			}
		}

		.share {
			opacity: 0;
		}

		h4 {
			text-transform: capitalize;
		}
	}

	.crop {
		// not first image (not the big one)
		overflow: hidden;
		width: 49%;
		height: 75px;
		float: left;

		// the first image (the big one)
		&:first-of-type {
			width: 100%;
			height: auto;
			margin-bottom: 4px;
		}

		&:nth-of-type(3) {
			margin-left: 2%;
		}

		img {
			width: 100%;
		}
	}

	.previewImageBig {
		width: 100%;
	}

	.previewImageSmall {
		width: 49%;
		float: left;
	}
}