/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
    font-family:verdana,arial,sans-serif;
    color:#555555;
}

.nav {
    font-family:Arial,sans-serif;
    font-size:13px;
}

a {
    color:#222222;
}

a:hover {
    text-decoration:none;
}

hr {
    border-color:#dedede;
}

.wrapper {
    top : 0;
}

.wrapper, .row {
    height: 100%;
    margin-left:0;
    margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.full {
    padding-top:30px;
}

.divider {
    margin-top:32px;
}

#main {
    background-color:#e9eaed;
    padding-left:0;
    padding-right:0;
}
#main .img-circle {
    margin-top:18px;
    height:70px;
    width:70px;
}

#sidebar {
    padding:0px;
    padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:transparent;
    text-shadow:0 0 2px #000000;
    padding-left:5px;
}
#sidebar .nav li>a:hover {
    background-color:#393939;
}


#sidebar-footer {
    background-color:#444;
    position:absolute;
    bottom:5px;
    padding:5px;
}
#footer {
    margin-bottom:20px;
}


h1,h2,h3 {
    font-weight:800;
}

.navbar-toggle, .close {
    outline:0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
    background-color:#FF8C00;
    color:#fffffe;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control {

}

.panel textarea, .well textarea, textarea.form-control
{
    resize: none;
}


.jumbotron {
    background-color:transparent;
}
.label-default {
    background-color:#dddddd;
}
.page-header {
    margin-top: 55px;
    padding-top: 9px;
    border-top:1px solid #eeeeee;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
}

.panel-default .panel-heading {
    background-color:#f9fafb;
    color:#555555;
}

.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
    background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
    padding:0px;
}

.modal-body textarea.form-control
{
    resize: none;
    border:0;
    box-shadow:0 0 0;
}

small.text-muted {
    font-family:courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

    .column .padding {
        padding: 7px;
    }

    .full{
        padding-top:20px;
    }

    .navbar-blue {
        background-color:#FF8C00;
        top:0;
        width:100%;
        position:relative;
    }

}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }

    #sidebar, #sidebar a, #sidebar-footer a {
        padding-left:3px;
    }
}

#carousel-example-generic {
    /*height: 100px;*/
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/* Navigation bar. */

/*Get rid of bootstraps padding...*/
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*... so the list items can have same padding, no matter if it's a link or just a text*/
.navbar-nav > li {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Override bootstrapes colors */
.navbar-default {
  background-color: #FF8C00;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3071a9;;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #c5c5c5;
}

.navbar-default .navbar-nav > li > a {
  color: #333333;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #000005;
}


.navbar {
  margin-bottom: 0px;
}

/* Logo. */
.navbar-default .navbar-brand {
  color: #b2b2b2;
  display:block;
  padding:3px;
  /*background-color: #6d3900;*/
  color: #ffffff;
  height:28px;
  width:110px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:23px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}

.badge{
  color:#c98620;
  background-color:#fff;
}
.badge:hover, .badge-inverse{
  background-color:#ecbc00;
  color:#fff;
}