#new_photo {
  clear: both;
}

.photo {  
  padding: 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.25);

  .name {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }

  .actions {
    font-size: 10px;
    text-align: center;
    color: #777;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}

#trip {
  width: 100%;

  .item {
    display: inline-block;
    box-sizing: border-box;

    > * {
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    }

    img {
      width: 100%;
    }

    &.one {
      width: 25%;
      padding: 5px;
    }

    &.two {
      width: 50%;
      padding: 5px;
    }

    &.three {
      width: 75%;
      padding: 5px;
    }

    &.giant {
      width: 100%;
      padding: 5px;
    }
  }
}

.container h1 {
  text-transform: capitalize;
}

.new_trip {
  label {
    width: 100px;
  }

  .field {
    margin: 7px 0px;
  }

  .actions {
    margin: 10px 0px;
  }
}

.new_photo {
  margin: 10px 0px;
}

.container .btn.submit {
  margin: 10px 0px;
}

.edit_photo {
  .field {
    margin: 5px 0px;
  }
}